<nav class="navbar navbar-expand-lg" style="background-color: #FF9700;">
    <div class="container">
        <a routerLink="/" class="navbar-brand" style="color: #ffffff;"> Regra de Três</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse nav-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Regra de Três</a>
                </li>
            </ul>
          </div>
    </div>
</nav>